


<div class="card"style="width: 30rem;margin-left: 30rem;">
  <div class="card-header"><h1style="text-align:center;">Editing Post</h1></div>
  <div class="card-body"><%= render 'form', post: @post %></div> 
  <div class="card-footer"> <%= link_to 'Show', @post %> 
  <%= link_to 'Back', posts_path %></div>
</div>